<h1>About Berlin Bikes</h1>
<h2>We been owned and in operation for 35 years selling on the highest quality bikes, bike parts and accessories</h2>
<h3>Our quality policy is provide service and products that meet and exceed the expectations of customers. We want to provide a welcome and friendly environment for or both our local and global biking community.</h3>
