<table>
  <tbody>
    <tr>
      <td><h2>Your order was created succesfully!</h2></td>
    </tr>
    <tr>
      <td><p>Thank you!</p></td>
    </tr>
    <tr>
      <td><p><strong>Your <%= @appname %> Team!</strong></p></td>
    </tr>
  </tbody>
</table>