.formstyle{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

h2{
  text-align: center;
  font-family: 'Oswald', Helvetica, sans-serif;
  color: black;
  text-shadow: 2px 3px grey;
  padding-top: 50px;
}

.form-group, .actions{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}