#content {
	padding: .4em 0;
	margin: 70px auto;
	text-align: center;
	width: 50%;

}

.title {
	text-align: center;
	font-family: 'Oswald', Helvetica, sans-serif;
    color: black;
    text-align: center;
    padding-top: 50px;
    text-shadow: 2px 3px grey;
}


h3{
	font-family: 'Oswald', Helvetica, sans-serif;
}

