html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

h1{
  font-family: 'Oswald', Helvetica, sans-serif;
  color: black;
  text-align: center;
  padding-top: 50px;
  text-shadow: 2px 3px grey;
  
}

footer.container-fluid{
	background-color: #000;
	padding-top: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}

#search{
  font-family: 'Oswald', Helvetica, sans-serif;
	font-size: 1em;
	padding: 1em;
	float: right;
}

.navbar{
  -webkit-box-shadow: 0 8px 6px -6px black;
	-moz-box-shadow: 0 8px 6px -6px black;
	box-shadow: 0 8px 6px -6px black;
}

.navbar-brand {
	font-size: 1.8em;
	font-family: 'Oswald', Helvetica, sans-serif;
}

.navbar li{
font-size: 1.5em;
	font-family: 'Oswald', Helvetica, sans-serif;
	text-transform: uppercase;
}

.carousel-caption{
  padding-top: 0px;
  color: red;
}

.land-pic{
  margin-left: auto;
  margin-right: auto;
}